language:
  - node_js
  - ruby
node_js:
  - "0.10"
install:
  - travis_retry gem install --no-document jekyll
  - travis_retry npm install -g grunt-cli
  - travis_retry npm install
before_script: grunt build
