language:
  - node_js
  - ruby
node_js:
  - "0.10"
rvm:
  - 2.0.0
install:
  - bundle install
  - travis_retry gem install --no-document jekyll
  - travis_retry npm install -g grunt-cli
  - travis_retry npm install
before_script:
  - git config --global user.email "travis@ngsog.pl"
  - git config --global user.name "Travis"
  - git remote rm origin
  - git remote add origin https://scheibinger:${GH_TOKEN}@github.com/scheibinger/ngsog.git
script: grunt deploy
