# Jekyll configuration precedence:
# 1. Gruntfile task
# 2. config.build.yml
# 3. config.yml

name: jekyllrbyo
description: Website for the Oil & Gas Company
author:
  name: Radoslaw Scheibinger
  email: rscheibinger@ebay.com

# Grunt handles images and assets.
exclude: [ 'fonts']

include: ['.htaccess','CNAME','styles']

# _config.build.yml sets future and show_drafts to false on `grunt build`
future: true
show_drafts: true

# Markdown library
markdown: redcarpet
#   extensions: ['fenced_code_blocks', 'smart']

pygments: false

languages: ["pl","en"]

navigation:
- en: Start
  pl: Start
  url:
- pl: Firma
  en: Company
  url: /firma/
- pl: Produkcja
  en: Production
  url: /produkcja/
- pl: Oferta
  en: Offer
  url: /oferta/
- pl: Jakość
  en: Quality
  url: /jakosc/
- pl: Certyfikaty
  en: Certyfikaty
  url: /certyfikaty/
- pl: Kontakt
  en: Contact
  url: /kontakt/
