<nav>
  <div class="header">
    <div class="lang-switch">
      <a {% if site.lang == "pl" %}href="/en/"{% else %}class="disabled"{% endif %}>english</a> |
      <a {% if site.lang == "en" %}href="/"{% else %}class="disabled"{% endif %}>polski</a>
    </div>
    <div class="logos">
      <div>
        <a href="/{% if site.lang == "en" %}en/{% endif %}" class="logo">
          <img src="/images/ngsog/logo.png" alt="ngsog">
        </a>
      </div>
      <div class="wietpol-logo">
        <span>member of</span>
        <img src="/images/ngsog/wietpol-logo.png" alt="Wietpol Aerospace">
      </div>
    </div>

    <ul class="nav nav-pills">
      {% assign url = page.url|remove:'index.html'|remove:'/' %}
      {% for link in site.navigation %}
      {% assign currentUrl = link.url|remove:'/' %}
      {% assign state = '' %}
      {% if url == currentUrl %}
      {% assign state = 'active ' %}
      {% endif %}
      {% if site.lang == "en" %}
      <li class="{{ state }}"><a
        href="/en/{{ currentUrl }}"
        title="{{ link.en }}">{{link.en}}</a>
      </li>
      {% endif %}
      {% if site.lang == "pl" %}
      <li class="{{ state }}"><a
        href="/{{ currentUrl }}"
        title="{{ link.pl }}">{{link.pl}}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
